
body {
  background-color: rgba(46, 44, 44, 0.958);
}

h1 {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.697);
  color: white;
  padding: 14px 1px;
  border-radius: 5px;
} 

p {
  display: flex;
  color: white;
  text-align: center;
}
