
body {
  background-color: rgba(46, 44, 44, 0.958);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  display: block;
  background-color: rgba(0, 0, 0, 0.697);
  color: white;
  padding: 14px 1px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
} 

p {
  display: flex;
  color: white;
  text-align: center;
}

button {
  font-size: 15px;
  padding: 10px 14px;
  background-color: green;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}
